html,
body,
* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color:#614539;
}

li {

  color:#00796b;
}
#second {
  color: rgb(255, 103, 255);
}
#third {
  color: rgb(92, 92, 255);
}
h1 {
  font-size: 32px;
  text-align: center;
}
.post-img {
  width: 100%;
  height: 50%;
  /*object fit fixes aspect ratio of image if needed*/
}
.post {
  height: 450px;
  width: 450px;
  background-color:#af5427;
  margin: 150px auto;
  padding: 0px;
  border-radius: 40px;
}
