html,
body,
* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #5f77ee;
  background-color: #d7e3fc;
}

h1 {
  font-size: 150px;
  text-align: center;
}

h2 {
  font-size: 45px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}
.post-img {
  img {
    border-radius: 8px;
    width: 800px;
    height: 400px;
    /*object fit fixes aspect ratio of image if needed*/
  }
}
.genshinSS {
  img {
    border-radius: 10px;
    width: 800px;
    height: 450px;
    margin-block: 50px;
    margin-inline: 150px;
    border: 10px solid #99c1de;
  }
}

.post {
  height: 610px;
  width: 1400px;
  background-color: #99c1de;
  margin: 200px auto;
  padding-block: 30px;
  border-radius: 60px;
}

#post {
  height: 550px;
  width: 1350px;
  background-color: #bcd4e6;
  margin: 0px auto;
  padding: 0px;
  border-radius: 60px;
  text-align: center;
  font-size: 20px;
}
